@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.active {
  @apply bg-mainBlue text-white;
}
.app-container {
  @apply px-8 lg:px-20;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ag-cell {
  display: flex !important;
  align-items: center;
}
